@import 'tailwindcss';
@font-face{
    font-family: 'Lucon';
    src: url('../assets/fonts/lucon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --font-titles: 'Poppins';
    --font-body: 'Lucon';
    --color-text-title:#000000;
    --color-text-subtitle:#444444;
    --color-text-body:#666666;
    --color-icons:#777777;
    --color-background-primary:#FFFFFF;
    --color-background-icons:#EEEEEE;
    --color-background-focus:#DDDDDD;
}