---
import HeaderEducation from "./molecules/headerEducation.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col gap-2">
    <h2 class="font-titles font-bold color-text-title text-2xl">
        {t("education.title")}
    </h2>
    <article class="flex flex-col gap-2">
        <HeaderEducation name="IES Comercio" from="10/2025" to="06/2026" />
        <span>
            {t("education.cybersecurity.title")}
        </span>
        <p class="font-body text-text-body">
            {t("education.cybersecurity.description")}
        </p>
    </article>
    <article class="flex flex-col gap-2">
        <HeaderEducation name="IES Comercio" from="09/2023" to="06/2025" />
        <span>
            {t("education.daw.title")}
        </span>
        <p class="font-body text-text-body">{t("education.daw.description")}</p>
    </article>
    <article class="flex flex-col gap-2">
        <HeaderEducation name="IES Comercio" from="09/2021" to="06/2023" />
        <span>
            {t("education.smr.title")}
        </span>
        <p class="font-body text-text-body">{t("education.smr.description")}</p>
    </article>
</section>
