---
import "../styles/global.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LenguageToggle from "./molecules/lenguageToggle.astro";
import Image from "astro/components/Image.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col gap-4">
    <div>
        <LenguageToggle />
    </div>
    <div
        class="justify-items-center md:flex md:flex-row-reverse md:justify-between"
    >
        <Image
            src={"/avatar.png"}
            alt="Avatar"
            width={120}
            height={120}
            loading="eager"
            class={""}
        />
        <div class="text-center flex flex-col gap-2 md:text-start">
            <div>
                <h1 class="font-titles font-bold color-text-title text-3xl">
                    {t("hero.nombre")}
                </h1>
                <h2 class="font-titles text-text-subtitle">
                    {t("hero.subtitle")}
                </h2>
                <span
                    class="flex flex-row justify-center items-center gap-2 font-body text-text-body md:justify-start"
                >
                    <iconify-icon icon="mdi:world" width="20" height="20" inline
                    ></iconify-icon>
                    {t("hero.location")}
                </span>
            </div>
            <div class="flex gap-4 justify-center md:justify-start">
                <a
                    href="/Currículum-HugoCenicerosOlave.pdf"
                    class="flex items-center gap-2 border border-text-subtitle px-2 py-2 rounded-lg hover:bg-background-icons"
                    download="Currículum-HugoCenicerosOlave.pdf"
                >
                    <iconify-icon
                        class="text-text-subtitle"
                        icon="mdi:file-document-outline"
                        width="20"
                        height="20"
                        inline></iconify-icon>
                    <span class="sr-only">{t("hero.link.cv")}</span>
                </a>
                <a
                    href="https://github.com/cenii"
                    aria-label={t("hero.link.github")}
                    class="flex items-center gap-2 border border-icons px-2 py-2 rounded-lg hover:bg-background-icons"
                    target="_blank"
                >
                    <iconify-icon
                        class="text-text-subtitle"
                        icon="mdi:github"
                        width="20"
                        height="20"
                        inline></iconify-icon>
                </a>
                <a
                    href="https://www.linkedin.com/in/HugoCenicerosOlave"
                    aria-label={t("hero.link.linkedin")}
                    class="flex items-center gap-2 border border-icons px-2 py-2 rounded-lg hover:bg-background-icons"
                    target="_blank"
                >
                    <iconify-icon
                        class="text-text-subtitle"
                        icon="mdi:linkedin"
                        width="20"
                        height="20"
                        inline></iconify-icon>
                </a>
            </div>
        </div>
    </div>
</section>
